.wrapperCard{ /*es todo lo blanco de la tarjeta*/
    background-color: #F1F1F1;
    width: 320px;/*tamaño minimo de celular*/
    height: auto;
    background-repeat: 8px;/*redondea las esquinas*/
    display: flex;/*flex organiza en filas*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn{
    position: absolute;/*para que este sobre la imagen */
    top: 0;
    right: o;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    background-color: red;
    background-repeat: 8px
}

.name{
    position: absolute;
    width: 80%;
    left: 0px;
    bottom: 140px;
    background-color: red;
    color: white;
}