/* en .app se agregan cambios en toda la pagina, fondo, etc*/
.App {
   /*text-align: center;*/
   background-image: URL("./images/812062.png");
   background-repeat: no-repeat;/*no se repita la imagen de fondo*/
   background-size: cover;/*para que se extienda  la imagen en todo el  fondo*/
}
